@mixin textShadow {
  -webkit-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  -moz-text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
}

@mixin boxShadow {
  -moz-box-shadow: 2px 5px 5px 2px #888;
  -webkit-box-shadow: 2px 5px 5px 2px #888;
  box-shadow: 2px 5px 5px 2px #888;
}
@mixin boxShadowInner {
  -moz-box-shadow: 2px 0px 5px 2px #888;
  -webkit-box-shadow: 2px 0px 5px 2px #888;
  box-shadow: 2px 0px 5px 2px #888;
}
@mixin boxShadowColor($Xlength,$Ylength,$blur,$spread,$color) {
  box-shadow: $Xlength $Ylength $blur $spread $color ;
  -webkit-box-shadow: $Xlength $Ylength $blur $spread $color ;
  -moz-box-shadow: $Xlength $Ylength $blur $spread $color;
}
@mixin insetShadow($Xlength,$Ylength,$blur,$spread,$color) {
  box-shadow: $Xlength $Ylength $blur $spread $color inset;
  -webkit-box-shadow: $Xlength $Ylength $blur $spread $color inset;
  -moz-box-shadow: $Xlength $Ylength $blur $spread $color inset;
}

@font-face {
  font-family: 'BureauGrotBold';
  src: url('fonts/BureauGrot-Bold.woff2') format('woff2'),
  url('fonts/BureauGrot-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'BureauGrotBold';
  src: url('fonts/BureauGrot-Bold.woff2') format('woff2'),
  url('fonts/BureauGrot-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
  background-color:#fff;

}
body{
  background-color:#fff;
  scroll-behavior: smooth;
  cursor: inherit!important;

}
::selection{
  background: #a8d1ff;
}
// variables and font calls
$mousecolor:#444;
$strat-plan-headings:BureauGrotBold, impact, "avenir next condensed heavy", "Droid Sans", sans-serif;

.canvas-details {display:inline;font-family:$base-font-family;}
.js .canvas-details {display:inline;}
.js .canvas-on .canvas-details {display:none;}
.js .canvas-off .canvas-details {display:none;}

.canvas-details-js {display:none;font-family:$base-font-family;}
.js .canvas-on .canvas-details-js {display:inline;}
.js .canvas-off .canvas-details-js {display:inline;}


@-webkit-keyframes fadeIn {
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1
  }
}
#banner-area:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-out;
  animation: 3s ease-out fadeIn;
}

.js .canvas-on #banner-area{
  visibility:hidden;
  .artworks-container{
    visibility:visible;
  }
}
.uw-site--strat-plan{
  &.navbar-administration{
    #header{
      display:none;

    }
  }
  .hidden{
    display: block;
    text-indent: -9999px;
    height: 0px;
    overflow: hidden;

  }
  .small{
    font-size: modular-scale(0);
    color:$black;
  }
  .canvas-toggle{
    color:#000;
    padding:0.25rem;
    width:11rem;
    font-size: modular-scale(-2);
    font-family: $font-1451-medium;
    text-transform:uppercase;
    text-align:center;
    background-color:#eee;
    text-decoration: none;
    border:1px solid #333;
    text-shadow:none !important;
    margin:0.25rem 0 1rem 0;
    height:1.8rem;
    display:none;
    &:focus,
    &:hover{
      color:#000;
      background-color:#fff;
    }
    @include media($medium-screen) {
      grid-column: 1 / 2;
    }

    span{
      float:right;
      width:3rem;
      border:1px solid #333;
      display:block;
      text-shadow:none !important;
    }
  }

  .js .canvas-on .artworks-container{
    background:white;
  }

  &.canvas-off{

    .canvas-toggle{
      display:block;
    }
    canvas{
      display:none!important;
    }
    .artworks-container{
      background:transparent;
    }
    .artworks--mobile-tap-overlay{
      display:none;
    }
    .canvas-toggle span{
      color:#000!important;
      background-color:$yellow-dark!important;
    }
  }
  &.canvas-on{

    .artworks-container{
      background:white;
    }
    .canvas-toggle{
      display:block;
    }
    canvas{
      display:block!important;
    }

    .canvas-toggle span{
      color:$yellow-dark!important;
      background-color:#000;
    }
  }



  .uw-strat-caption{

    display: grid;
    grid-template-columns: 1;
    position:absolute;
    bottom:0;
    left:0;
    color: #000;
    width:100%;
    background:#fff;
    background: rgba(255, 255, 255, 0.8);
    padding:1rem;
    height:auto;
    //line-height:1.25;
    z-index: map-get($zindex, menu);
    text-align:left;

    @include media($medium-screen) {
      min-height:4rem;
      grid-template-columns: 11rem auto;
      grid-column-gap: 0.5rem;
      padding:0.5rem 4rem 0.5rem 2rem;

    }


    p {  grid-column: 1 / 2;
      @include media($medium-screen) {
        grid-column: 2 / 3;
      }
      font-size: modular-scale(-1);
      color: #000 !important;
      font-style: italic;

      .strat-caption-title {
        text-transform:uppercase;
        font-family: $font-1451-bold;
        font-style: normal;

      }

    }
  }

  .field-name-field-sph-image-image-block{
    img {
      display:block;
    }
  }

  .field-name-field-sph-image-image-block{
    img {
      display:block;
    }
  }
  // _typography.scss overwrites
  //  font-size: modular-scale(1.5);
  //  line-height:1.35;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family:$strat-plan-headings;
    color:$black;
    text-transform:uppercase;
    text-align:inherit;
    line-height:1.2;
    font-weight:bold;
    letter-spacing:0.5;
    &.bbg-w{
      color:$white!important;
      font-size: modular-scale(0)!important;
      font-family: $font-1451-medium;
      text-transform:uppercase;
      width:auto!important;
      display:inline-block!important;
      @include media($medium-screen) {
        font-size: modular-scale(1)!important;
      }

    }
    &.bbg-y{
      color:$yellow-dark!important;
      font-size: modular-scale(0)!important;
      font-family: $font-1451-medium;
      text-transform:uppercase;
      display:inline-block!important;
      width:auto!important;
      @include media($medium-screen) {
        font-size: modular-scale(1)!important;
      }
    }
    &.ybg-b{
      color:$black!important;
      font-size: modular-scale(0)!important;
      font-family: $font-1451-medium;
      text-transform:uppercase;
      display:inline-block!important;
      width:auto!important;
      @include media($medium-screen) {
        font-size: modular-scale(1)!important;
      }
    }

    &.uw_strat_span{
      position:relative;
      padding-top: 1.5rem;
      line-height:1.25;
      font-size: modular-scale(4);
      span.tag{
        font-weight: 200 !important;

      }
      @include media($small-screen) {
        font-size: modular-scale(6);
      }
      @include media($medium-screen) {
        font-size: modular-scale(8);
      }
      @include media($large-screen) {
        font-size: modular-scale(9);
      }
    }

  }
  h3{
    font-size: modular-scale(4);
  }
  p{
    font-size: modular-scale(2);
    line-height: 1.5;
    @include media($medium-screen) {
      font-size: modular-scale(3);
      line-height: 1.5;
    }

    &.highlight {
      padding: 1.5rem 0;
      font-size: modular-scale(3);
      font-weight: 700;
      font-style: italic;
      display: block;
      line-height: 1.35;
      @include media($medium-screen) {
        font-size: modular-scale(5);
      }

    }

    &.strat-highlight {
      font-size: modular-scale(2);
      font-weight: 500;
      font-style: italic;
      display: block;
      @include media($medium-screen) {
        font-size: modular-scale(3);
      }
    }
  }
  hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #000000!important;
    padding: 0;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    float:left;
    + p + hr{
      margin-bottom:4rem;
    }
  }


  .bbg{
    &-w{
      font-size: modular-scale(-1);
      @include media($medium-screen) {
        font-size: modular-scale(0);
      }
      font-family: $font-1451-medium;
      text-transform:uppercase;
      width:auto!important;
      padding:0.1rem 0.5rem!important;
      color:$white!important;
      background-color:$black!important;
      line-height:1.5;
      float:left;

    }
    &-y{
      font-size: modular-scale(-1);
      @include media($medium-screen) {
        font-size: modular-scale(0);
      }
      font-family: $font-1451-medium;
      text-transform:uppercase;
      width:auto!important;
      padding:0.1rem 0.5rem!important;
      color:$yellow-dark!important;
      background-color:$black!important;
      line-height:1.5;
      float:left;

    }
  }
  .ybg-b{
    font-size: modular-scale(-1);
    @include media($medium-screen) {
      font-size: modular-scale(0);
    }
    background-color:$yellow-dark!important;
    font-family: $font-1451-medium;
    text-transform:uppercase;
    padding:0.1rem 0.5rem!important;
    color:$black!important;
    line-height:1.5;


  }
  //span.ybg-b{
  //  display:inline-block;
  //  margin-bottom: 1rem;
  //}

  ul.strat-ul{
    margin:0;
    padding:0;
    font-family: $font-1451-medium;
    li {
      margin:0;
      padding:0;
      &.bbg-w{
        float:left;
        display:block!important;
        clear: both;
        margin-bottom:0.25rem!important;
        padding:0;
      }
    }
  }
  ul.strat-ul-simple{
    font-size: modular-scale(1)!important;
    font-family: $font-1451-medium;
    color:$black;
    float:left;
    margin: 0 0 2rem 1rem;
    list-style-image: url('../images/chevron.png');
  }
  ul.strat-ul-text{
    font-size: modular-scale(1)!important;
    float: left;
    font-family: $font-1451-medium;
    color:$black;
    margin: 0 0 2rem 1rem;
  }
  .strat-small{
    font-size: modular-scale(3)!important;
    font-family: $font-1451-bold;
    line-height:1.25;
    color:$black;
    margin:1rem 0;
  }
  .strat-plan-list{
    p,ul,li{ text-shadow:none;}
    @include media($medium-screen) {
      padding-left:4rem;
    }

    h3{
      margin-top:2rem;
    }
  }
  ul.uw_strat_tl{
    font-size: modular-scale(0)!important;
    font-family:$base-font-family;
    text-shadow:none;
    color:$black;
    float:left;
    margin: 2rem 0 2rem 0rem;
    list-style-type: none;
    font-weight:bold;
    padding-left:0;
    @include media($small-screen) {
      padding-left:inherit;
    }
    li{
      position: relative;
      margin: 0;
      padding-bottom: 2rem;
      padding-left: 30px;
      &::before{
        content: '';
        background-color: #000;
        position: absolute;
        bottom: 0px;
        top: 0px;
        left: 6px;
        width: 1px;
      }
      &::after{
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 48 48' focusable='false'%3E%3Ccircle stroke='none' fill='%23000' cx='24' cy='24' r='12'%3E%3C/circle%3E%3C/svg%3E");
        position: absolute;
        left: -5.5px;
        top:0;
        height: 24px;
        width: 24px;
      }
      &:last-of-type{
        padding-bottom:0;
      }
    }
    &.strat-ul-text{
      margin-top:2rem;
      font-weight:bold;
      li{
        padding-bottom: 1rem;
        &::after{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' viewBox='0 0 48 48' focusable='false'%3E%3Ccircle stroke='none' fill='%23ffd54b' cx='24' cy='24' r='12'%3E%3C/circle%3E%3C/svg%3E");
          position: absolute;
          left: -5.5px;
          top:0;
          height: 24px;
          width:  24px;
        }
        &:last-of-type{
          padding-bottom:0;
        }
      }
    }
  }
  .signature{
    img{
      max-width:200px;
    }
  }
  .strat-tag-overlay{
    margin:0;
    position:relative;
    visibility:hidden;
    img{
      visibility:visible;
    }
    @include media($medium-screen) {
      visibility:visible;
    }
    figcaption{

      position:absolute!important;
      bottom:2.5rem;
      padding-top:1rem;
      font-size:inherit;
      &.top {
        bottom:inherit;
        top:0.5rem;
        .tag{
          @include media($medium-screen) {
            font-size: 0.85rem !important;
          }
        }
      }
    }
    .tag {
      font-family: $font-1451-light;
      font-weight: 200 !important;
      font-size: 1rem !important;
      line-height:1rem;
      display:table;
      margin-bottom:0.25rem;



      @include media($medium-screen) {

        font-size: 1.5rem !important;
        line-height:1.5rem;
      }
    }
  }



  .marketing-item{
    .canvas-toggle{
      margin:0;


    }
    .uw-strat-caption{
      @include media($medium-screen) {

      }
      p {

        font-size: modular-scale(-1);
        color: #000 !important;
        font-style: italic;
        margin-top:0.2rem;

        a{
          padding:0.25rem;
          text-decoration:inherit;
          background:none!important;
          span {
            text-transform:uppercase;
            font-family: $font-1451-bold;
            font-style: normal;


          }
        }

      }
    }
    .tag {
      font-family: $font-1451-light;
      font-weight: 200 !important;
      font-size: 1rem !important;
      line-height:1rem;
      display:table;
      margin-bottom:0.25rem;



      @include media($medium-screen) {

        font-size: 1.5rem !important;
        line-height:1.5rem;
      }
    }

    @include outer-container(100%);
    min-height:100vh;
    height:auto;
    width:100vw;
    padding:0;
    position:relative;
    .strat-tag-overlay{
      position:absolute;
      left:0;
      top:25%;
      width:100%;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
      color:$black!important;
      text-shadow:none;
      font-family: $strat-plan-headings;
      //letter-spacing:0.5;
      span{
        text-shadow:inherit;
      }
      @include media($medium-screen) {
        span{
          text-shadow:inherit;
        }
      }

      &.bbg-w{
        color:$white!important;
        font-family: $font-1451-medium;
        text-transform:uppercase;
        text-align:left!important;
      }
      &.bbg-y{
        color:$yellow-dark!important;
        font-family: $font-1451-medium;
        text-transform:uppercase;
        text-align:left!important;
      }
      &.ybg-b{
        color:$black!important;
        font-family: $font-1451-medium;
        text-transform:uppercase;
        text-align:left!important;
      }
    }
    h2{

      font-size: modular-scale(6);
      span.tag{
        font-weight: 200 !important;

      }
      @include media($small-screen) {
        font-size: modular-scale(8);
      }
      @include media($medium-screen) {
        font-size: modular-scale(10);
      }
      @include media($large-screen) {
        font-size: modular-scale(11);
      }
    }
    &.uw_utm_h2{
      font-size: modular-scale(7);
      line-height: 120%;
      @include media($small-screen) {
        font-size: modular-scale(8);
      }
      @include media($medium-screen) {
        line-height: 135%;
        font-size: modular-scale(10);
      }
      @include media($large-screen) {
        font-size: modular-scale(11);
      }
    }
    p {
      color: $black !important;
      text-shadow: none;
      font-family: $base-font-family;
      text-align: left !important;
      float:left;
      clear:both;
      font-size: modular-scale(2);
      line-height: 1.5;
      @include media($medium-screen) {
        font-size: modular-scale(3);
      }
    }
    .image-right {
      float: right;
    }
    .image-left {
      float: left;
    }
    .image-center {
      margin: 0 auto;
    }
    //inner layout
    .col-50,
    .col-33,
    .col-66,
    .threecol-33 {
      float: left;
      @include media($small-screen) {
        float: left;
      }
    }
    .col-50.first,
    .col-33.first,
    .col-66.first,
    .threecol-33 {
      float: left;
      @include media($small-screen) {
        margin-right: 4%;
      }
    }
    .col-50 {
      width: 100%;

      @include media($small-screen) {
        width: 48%;
      }
    }
    .col-33 {
      width: 100%;

      @include media($small-screen) {
        width: 20%;
      }
    }
    .col-66 {
      width: 100%;

      @include media($small-screen) {
        width: 64%;
      }
    }
    .threecol-33 {
      width: 100%;

      @include media($small-screen) {
        width: 30.666666%;
      }
    }
    /*legacy*/
    .half-column {
      float: left;
      width: 100%;

      @include media($small-screen) {
        width: 48%;
      }
    }
    .half-column.first {
      @include media($small-screen) {
        margin-right: 4%;
      }
    }
    .uw-strat-caption{


      @include media($medium-screen) {
        bottom:2rem;
        min-height:6rem;
      }
      p {

        font-size: modular-scale(-2);
        color: #000 !important;
        font-style: italic;
        span{
          color: #000 !important;
          text-shadow:none;
        }
        a{

        }
        .strat-caption-title  {
          color: #000!important;
          text-shadow:none;
          text-transform:uppercase;
          font-weight: bold !important;
          font-family: $font-1451-bold;
          font-style: normal;
        }

      }
    }
    .strat-wraps{
      @include outer-container();
      padding: 2rem 2rem;
    }
  }

  // modules/_paragraphs.scss overwrites
  .marketing-item-wrap {
    background-color:white;
    &:before {
      display:none;
    }
    padding: 0rem !important;
  }

  .artworks-container{
    height: 100vh !important;
    width: 100vw !important;
    z-index: map-get($zindex, content);
    position: absolute;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .artworks-title-wrap{
    @include outer-container(100%);
    width:100%;
    //@include center-align-middle();
    z-index: map-get($zindex, content);
    &::before{
      height: 100vh !important;
      width: 100vw !important;

      display:block;
      position:relative;
      z-index:1000;
    }
  }
  .artworks-title{
    //color:black;
    position:absolute;
    left:5%;
    top:15%;
    line-height:1.15;
    font-size: modular-scale(4);
    font-family: $strat-plan-headings;
    font-weight:bold;
    text-align:left;
    text-transform:uppercase;
    //min-width:60%;
    z-index: map-get($zindex, menu);
    text-shadow:none;
    background:rgba(255,255,255,0.8);
    padding:1rem;
    border:2px solid #ddd;
    letter-spacing:0.5px;
    //mix-blend-mode: screen;
    &.page-title-wrap{
      padding:0;
      top:18%;
      background:none;
      border:none;
      min-width:none;
      width: min-intrinsic;
      width: -webkit-min-content;
      width: -moz-min-content;
      width: min-content;
      display: table-caption;
      display: -ms-grid;
      -ms-grid-columns: min-content;


    }

    @include media($small-screen) {
      min-width:inherit;
      left:10%;
      font-size: modular-scale(6);

    }
    @include media($medium-screen) {
      &.page-title-wrap{
        top:19.5%;
      }
    }






    h1{
      width:100%;
      display:block;
      font-family: $strat-plan-headings;
      font-weight:bold;
      z-index: map-get($zindex, menu);
      height:100%;
      /* WebKit (Safari/Chrome) Only */


      /* If we weren't using text-shadow, we'd set a fallback color
         and use this to set color instead
        -webkit-text-fill-color: white; */

      color: #000;

      text-shadow:
              0px 2px 0 white ,
                /* Simulated effect for Firefox and Opera
                   and nice enhancement for WebKit */
              0px  0px 0 white,
              0px  0px 0 white,
              0px  0px 0 white,
              0px  0px 0 white;

      text-align:left;
      font-size: modular-scale(6);
      @include media($xsmall-screen) {
        font-size: modular-scale(8);
      }
      @include media($small-screen) {
        font-size: modular-scale(10);
      }
    }
    span{
      display:block;
      color:#000!important;

    }

    @include media($medium-screen) {

      h1{
        /* WebKit (Safari/Chrome) Only */
        -webkit-text-stroke: 1.25px  white;

        /* If we weren't using text-shadow, we'd set a fallback color
           and use this to set color instead
          -webkit-text-fill-color: white; */

        color: #000;

        text-shadow:
                0px 1px 0 white ,
                  /* Simulated effect for Firefox and Opera
                     and nice enhancement for WebKit */
                0px  0px 0 white,
                0px  0px 0 white,
                0px  0px 0 white,
                0px  0px 0 white;
        font-size: 4.33193rem;
      }
    }
    @include media($large-screen) {

      h1{
        font-size:6rem;
      }
    }
  }

  .strat-wraps{
    @include outer-container();
    padding: 2rem 1rem;

    @include media($medium-screen) {
      padding: 2rem 4.5rem;
    }
    clear:both;
    display:block;
    height:auto;
    text-align:left!important;
    p{
      float:left;
    }
  }

  #header{
    @include media($medium-screen) {
      height:3rem;
      background-color:rgba(0,0,0,0.8);
      position:fixed;
      width:100%;
      z-index: map-get($zindex, menu);

    }
  }
  &.navbar-administration{
    #header {
      display:none;
    }
  }
  #uw-header,
  .uw-header{

    @include media($medium-screen) {
      display:none;

    }
  }
  .uw-site {

    &--colors{


      @include media($medium-screen) {
        z-index: map-get($zindex, interact);
        width:100%;
        position:fixed;
        @include boxShadowColor(4px, 8px, 6px, -6px,rgba(0,0,0,0.92));
        top:2rem;
        left:0;
        width:100%;
        z-index: map-get($zindex, overlay);
        //@include boxShadowColor(4px, 8px, 6px, -6px,rgba(0,0,0,0.92));
      }


    }
    &--subtitle{
      position:absolute;
      top:1rem;
      right:1rem;
      font-size: modular-scale(-2);
      @include media($medium-screen) {
        top:4.5rem;
        right:2rem;
        font-size: modular-scale(-1);
      }

      //left:18%;
      //top:11%;
      z-index: map-get($zindex, content);
      font-family: $font-1451-bold;
      color: #000;
      letter-spacing:1px;
      text-transform: uppercase;
      background: rgba(255, 255, 255, 0.9);
      padding: .5rem;
      line-height:1.25;
      text-align:right;
      span{
        display:block;
        margin-bottom:0.5rem;
      }
    }

  }

  .global-message--active{
    #header{

      @include media($medium-screen) {
        height:auto;
        padding-bottom:2rem;
        background-color:rgba(0,0,0,0.8);
        position:fixed;
        width:100%;
        z-index: map-get($zindex, menu);

      }
    }
    .uw-site {

      &--colors{
        @include media($medium-screen) {
          position:fixed;
          @include boxShadowColor(4px, 8px, 6px, -6px,rgba(0,0,0,0.92));
          top:5.5rem;
          left:0;
          width:100%;
          z-index: map-get($zindex, overlay);
        }
      }
      &--subtitle{
        position:absolute;
        top:1rem;
        right:1rem;
        font-size: modular-scale(-2);
        @include media($medium-screen) {
          top:8rem;
          right:2rem;
          font-size: modular-scale(-1);
        }

        //left:18%;
        //top:11%;
        z-index: map-get($zindex, content);
        font-family: $font-1451-bold;
        color: #000;
        letter-spacing:1px;
        text-transform: uppercase;
        background: rgba(255, 255, 255, 0.9);
        padding: .5rem;
        line-height:1.25;
        text-align:right;
        span{
          display:block;
          margin-bottom:0.5rem;
        }
      }
      #sph-navigation-wrapper {@include media($medium-screen) {top: 30%;}}
    }

  }
  // modules/_homepage_banner.scss overwrites
  #banner-area{
    height: 100vh;
    background-size:cover;
  }
  .banner-text {
    z-index: map-get($zindex, header);
    bottom: 0rem;
    left: 0;
    right: 0;
    padding: 1rem;
    @include outer-container(100%);
    background:rgba(255,255,255,0.2);

  }

  // _content.scss overwrites
  .mid-content {
    padding: 0;
  }

  // _sph_navigation.scss overwrites


  .sph-navigation-item .sph-navigation-text {

    font-size: modular-scale(-1);
    font-family: $font-1451-medium;

    letter-spacing:2px;
    text-transform:uppercase;

  }
  #sph-navigation-wrapper a {
    text-decoration: none;
    border-bottom: 1px solid $uw-gray;
    color:#fff;
    &.active{
      color:$black;
      background:$uw-gold;
      border-bottom: 1px solid black;
    }
  }
  #sph-navigation-wrapper a:hover,
  #sph-navigation-wrapper a:focus{
    border-bottom: 1px solid black;
    background:$uw-gold;
    color:$black!important;
  }
  a.navigation-item-anchor-link {
    //margin-top: -275px;
  }
  #sph-navigation-wrapper-clone {
    position: absolute;
    left: -999em;
  }
  .sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }
  .sph-anchor-link-navigation {
    display: block;

    @include media($medium-screen) {
      min-height:inherit;
    }
  }
  #sph-navigation-wrapper {
    position: relative;
  }
  #sph-navigation-wrapper,
  #sph-navigation-wrapper-clone {
    margin: auto;
    padding-bottom: 2.2rem;
    opacity: 1;

    @include media($medium-screen) {
      padding-bottom: 0;
    }


    .paragraphs-items-field-sph-navigation-items {
      width: 100%;

      @include media($medium-screen) {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: right;
      }
    }

    .paragraphs-items-field-sph-navigation-items a:nth-child(2n) {
      .sph-navigation-item {
        background-color: inherit;

        @include media($medium-screen) {
          background-color: inherit;
        }
      }
    }

    .paragraphs-items-field-sph-navigation-items .sph-navigation-item {
      flex: 0 1 auto;
      padding: 0.25rem;
      float:left;
    }
  }
  .sph-navigation-item .sph-navigation-text {
    line-height:2rem;
    padding-left: 1rem;
    float: right;
  }
  #sph-navigation-wrapper .sph-navigation-icon {
    display:block;
    float:left;
    img {
      max-height: 2rem;
      max-width: 2rem;
    }
  }
  #sph-navigation-wrapper {
    position:relative;
    display:none;
    text-align:left;
    -webkit-transition: -webkit-transform .4 ease;
    -moz-transition: -moz-transform .4s ease;
    transition: transform .4s ease;


    @include media($medium-screen) {
      display:block;
      position: fixed;
      right:0;
      top: 25%;
      width:39rem;
      -webkit-transform:translate(36.4rem, 0);
      -moz-transform:translate(36.4rem, 0);
      -ms-transform:translate(36.4rem, 0);
      transform:translate(36.4rem, 0);
      -webkit-transition: -webkit-transform .4 ease;
      -moz-transition: -moz-transform .4 ease;
      transition: transform .4 ease;
      z-index: map-get($zindex, modal);
    }
    background-color: rgba(0,0,0,0.9);

    &:hover,
    &:focus,
    &:focus-within{
      display: block;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition: -webkit-transform .4 ease;
      -moz-transition: -moz-transform .4s ease;
      transition: transform .4s ease;

    }
    &.hovered{
      display: block;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition: -webkit-transform .4 ease;
      -moz-transition: -moz-transform .4s ease;
      transition: transform .4s ease;

    }

  }



  // _sph_story.scss overwrites
  .sph-stories--wrapper .sph-story-title{
    h3{
      font-size: modular-scale(7);
      line-height: 135%;
      margin-bottom:4rem;
      margin-top:4rem;
      text-shadow:none;
      font-family: $strat-plan-headings;
      font-weight:bold;
      @include media($small-screen) {
        font-size: modular-scale(8);
      }
      @include media($medium-screen) {
        font-size: modular-scale(10);
      }
    }
  }


  .node-uw-ct-single-page-home .field-name-field-sph-copy h2 {
    font-size: modular-scale(7);
    font-family: $strat-plan-headings;
    color:$black;
    text-transform:uppercase;
    text-align:inherit;
    padding:0;
    @include media($small-screen) {
      font-size: modular-scale(8);
    }
    @include media($medium-screen) {
      font-size: modular-scale(10);
    }
    @include media($large-screen) {
      font-size: modular-scale(11);
    }
    &.tag {
      font-family: $font-1451-light;
      font-weight: 200 !important;
      font-size: 2rem !important;
      line-height:2rem;

    }

    &.uw_strat_span{
      position:relative;
      padding-top: 1.5rem;
      padding-left:0;
      margin-bottom:0.5rem;
      line-height:1.2;

    }
  }





  // mouse hint
  .mouse {
    display: none;
    margin: 0 auto;
    width: 23px;
    height: 40px;
    border-radius: 13px;
    border: 2px solid $mousecolor;
    position: absolute;
    top: 50%;
    position: absolute;
    left: 50%;
    margin-left: -14px;
    //animation: 2s fadeIn;
    //animation-fill-mode: forwards;
    //animation-delay:2s;
    //opacity: 0;

    span {
      display: none;
      margin: 6px auto;
      width: 3px;
      height: 7px;
      border-radius: 100%;
      background: $mousecolor;
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: scroll;
      animation-name: scroll;

    }
  }
  @keyframes fadeIn {
    1% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @-webkit-keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(12px);
      transform: translateY(12px);
    }
  }
  @keyframes scroll {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(12px);
      -ms-transform: translateY(12px);
      transform: translateY(12px);
    }
  }



  // spacing helper class'
  .margin-1{
    margin-bottom:1rem;
  }
  .margin-2{
    margin-bottom:2rem;
  }
  .margin-4{
    margin-bottom:4rem
  }
  .margin-6{
    margin-bottom:6rem
  }
  .margin-8{
    margin-bottom:8rem
  }
  .inline-block{
    display:inline-block!important;
  }

  .col-50,
  .col-33,
  .col-66,
  .threecol-33 {
    float: left;
    @include media($small-screen) {
      float: left;
    }
  }
  .col-50.first,
  .col-33.first,
  .col-66.first,
  .threecol-33 {
    float: left;
    @include media($small-screen) {
      margin-right: 4%;
    }
  }

  .artworks--canvas{
    display:block;
  }
  .paragraphs-items > .entity:nth-child(even) {
    background-color: inherit;
  }

  .entity-paragraphs-item {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: map-get($zindex, background);
    //> div.content{
    //  z-index: map-get($zindex, overlay);
    //  position: relative;
    //}
  }

  .strat-bg-images {
    opacity: 0.125;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    left: 0;
  }

  .president-bg {
    background-image: url('../images/strat-lines.png');
  }

  .education-bg {
    background-image: url('../images/education-lines.png');
  }

  .education-goals-bg {
    background-image: url('../images/education-goals-lines.png');
  }

  .research-goals-bg {
    background-image: url('../images/research-lines-horz.png');
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);

    filter: FlipH;
    -ms-filter: "FlipH";

  }

  .research-bg {
    background-image: url('../images/research-lines-horz.png');
  }

  .community-bg {
    background-image: url('../images/community-lines.png');
  }

  .community-goals-bg {
    background-image: url('../images/community-goals-lines.png');
  }

  //about the artist
  .uw_strat_art--desc {
    display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows:auto auto;
    grid-column-gap: 2rem;
    margin-bottom: 1rem;
    @include media($small-screen) {
      grid-template-columns: 100px auto;
      grid-column-gap: 1.5rem
    }
    @include media($medium-screen) {
      grid-template-columns: 120px auto;
      grid-column-gap: 1.5rem;
    }
    h3{
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }
  }

  .uw_strat_art--icon {
    padding-top: 0.4rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .uw_strat_art--link {
    font-family: $font-1451-medium;
    font-weight: 200 !important;
    font-size: 1rem !important;

  }

  .uw_strat_art--content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    p {
      font-size: 1rem;
    }
  }


  //// venn diagram
  //
  //.Venn-wrap {
  //
  //  width: calc(100% * var(--venn-width-mult));
  //  margin: 0 auto;
  //  min-height: 70vh;
  //  background: url(../images/venn-backup.png) no-repeat;
  //  background-size: contain;
  //
  //  @include media($large-screen) {
  //    background: none;
  //    min-height: 1000px;
  //
  //  }
  //
  //}
  //
  //:root {
  //  --venn-width-mult: 0.9;
  //}
  //
  //@media print {
  //  :root {
  //    --venn-width-mult: 1;
  //  }
  //}
  //
  ///* Defaults for browsers that do not support shape-outside */
  //@media (min-width: 800px) {
  //  .Venn::after {
  //    content: "";
  //    display: block;
  //    width: 1px;
  //    height: 1px;
  //    clear: both;
  //  }
  //
  //  .circle,
  //  .shape {
  //    box-sizing: border-box;
  //    border: 0.1em solid rgba(0, 0, 0, 0.5);
  //    margin: 0 0.75%;
  //    padding: 0 1.5em;
  //    float: left;
  //    width: 32%;
  //  }
  //
  //  .circle.one {
  //    margin-left: 0;
  //  }
  //
  //  .circle.three {
  //    margin-right: 0;
  //  }
  //
  //  .shape {
  //    width: 30%;
  //    margin: 1em 1%;
  //  }
  //
  //  .shape.onetwo {
  //    margin-left: 2.5%;
  //    clear: left;
  //    border-top-right-radius: 1em;
  //  }
  //
  //  .shape.twothree {
  //    margin-right: 2.5%;
  //    border-top-left-radius: 1em;
  //  }
  //
  //  .shape.onethree {
  //    margin-top: 3em;
  //    border-top-right-radius: 1em;
  //    border-top-left-radius: 1em;
  //  }
  //
  //  .shape.onetwothree {
  //    clear: both;
  //    width: 40%;
  //    margin-left: 30%;
  //    margin-right: 30%;
  //    border-radius: 1.5em;
  //  }
  //}
  //
  //@supports (shape-outside: polygon(0 0, 0 50%, 50% 50%)) {
  //  .Venn::after {
  //    display: none;
  //  }
  //
  //  .Venn > div {
  //    box-sizing: border-box;
  //    border: 0.1em solid rgba(0, 0, 0, 0.5);
  //    font-size: calc(2.5vw * var(--venn-width-mult));
  //    line-height: 1.3;
  //    overflow: hidden;
  //  }
  //
  //  .Venn > .shape {
  //    font-size: calc(2.25vw * var(--venn-width-mult));
  //    border: initial;
  //    width: initial;
  //    margin: initial;
  //    padding: initial;
  //
  //  }
  //
  //  .Venn > .circle {
  //    border-radius: 50%;
  //    width: initial;
  //    margin: initial;
  //    padding: initial;
  //
  //  }
  //
  //  /* Grid layout  */
  //  .Venn {
  //    display: none;
  //    @include media($large-screen) {
  //      display: grid;
  //      grid-template-columns: repeat(5, 1fr);
  //      grid-template-rows: repeat(3, calc(28.8vw * var(--venn-width-mult)));
  //      height: 900px;
  //      position: relative;
  //      z-index: 0;
  //    }
  //
  //    ul {
  //      font-size: modular-scale(-1);
  //      font-family: $font-1451-bold;
  //      text-align: center;
  //      position: absolute;
  //      max-width: 45%;
  //      padding: 0;
  //      margin: 0;
  //
  //      li {
  //        list-style: none;
  //      }
  //
  //      &.C1-ul {
  //        left: 15%;
  //        top: 35%;
  //      }
  //
  //      &.C2-ul {
  //        left: 34%;
  //        top: 35%;
  //      }
  //
  //      &.C3-ul {
  //        left: 25%;
  //        top: 50%;
  //      }
  //
  //      &.C1-2-ul {
  //        top: 55%;
  //        left: 20%;
  //      }
  //
  //      &.C1-3-ul {
  //        z-index: 3;
  //        top: 45%;
  //        left: 15%;
  //      }
  //
  //      &.C2-3-ul {
  //        z-index: 3;
  //        top: 45%;
  //        left: 40%;
  //      }
  //
  //      &.C1-2-3-ul {
  //        font-family: $font-1451-bold;
  //        font-size: modular-scale(1);
  //        z-index: 3;
  //        top: 10%;
  //        left: 5%;
  //        color: #000;
  //      }
  //    }
  //  }
  //
  //  .Venn > h2 {
  //    grid-column-start: 1;
  //    grid-column-end: 6;
  //    grid-row-start: 0;
  //    grid-row-end: 1;
  //  }
  //
  //  .Venn > .circle.one {
  //    /*   outline: .2em solid #f00; */
  //    grid-column-start: 1;
  //    grid-column-end: 4;
  //    grid-row-start: 1;
  //    grid-row-end: 3;
  //    background-color: rgba(0, 0, 0, 0.1);
  //    position: relative;
  //    z-index: 2;
  //  }
  //
  //  .Venn > .circle.two {
  //    /*   outline: .2em solid #0f0; */
  //    grid-column-start: 3;
  //    grid-column-end: 6;
  //    grid-row-start: 1;
  //    grid-row-end: 3;
  //    background-image: linear-gradient(
  //                    135deg,
  //                    rgba(0, 0, 0, 0.05) 25%,
  //                    rgba(255, 255, 255, 0.12) 25%,
  //                    rgba(255, 255, 255, 0.12) 50%,
  //                    rgba(0, 0, 0, 0.05) 50%,
  //                    rgba(0, 0, 0, 0.05) 75%,
  //                    rgba(255, 255, 255, 0.12) 75%,
  //                    rgba(255, 255, 255, 0.12) 100%);
  //
  //    background-size: 10px 10px;
  //    position: relative;
  //    z-index: 3;
  //  }
  //
  //  .Venn > .circle.three {
  //    /*   outline: .2em solid #00f; */
  //    grid-column-start: 2;
  //    grid-column-end: 5;
  //    grid-row-start: 2;
  //    grid-row-end: 4;
  //    background-color: $yellow-dark;
  //    position: relative;
  //    z-index: 1;
  //  }
  //
  //  .Venn > .shape.onetwo {
  //    /*   outline: .2em solid #ff0; */
  //    grid-column-start: 3;
  //    grid-column-end: 4;
  //    grid-row-start: 1;
  //    grid-row-end: 2;
  //  }
  //
  //  .Venn > .shape.onethree {
  //    /*   outline: .2em solid #f0f; */
  //    grid-column-start: 2;
  //    grid-column-end: 4;
  //    grid-row-start: 2;
  //    grid-row-end: 2;
  //  }
  //
  //  .Venn > .shape.twothree {
  //    /*   outline: .2em solid #0ff; */
  //    grid-column-start: 3;
  //    grid-column-end: 5;
  //    grid-row-start: 2;
  //    grid-row-end: 2;
  //  }
  //
  //  .Venn > .shape.onetwothree {
  //    /*   outline: .2em solid #fff; */
  //    grid-column-start: 3;
  //    grid-column-end: 3;
  //    grid-row-start: 2;
  //    grid-row-end: 2;
  //  }
  //
  //  /* Text wrap */
  //  .Venn .circle,
  //  .Venn .shape {
  //    text-align: center;
  //    border: none;
  //    position: relative;
  //  }
  //  .Venn .circle span,
  //  .Venn .shape span {
  //    box-sizing: border-box;
  //    float: right;
  //    /*     border: 1px dotted #00f;
  //background-color: rgba(0,0,0,.1); */
  //  }
  //  .Venn .circle > span {
  //    width: calc(58.5vw * var(--venn-width-mult));
  //    height: calc(58.5vw * var(--venn-width-mult));
  //  }
  //  .Venn .shape > span {
  //    height: calc(29vw * var(--venn-width-mult));
  //  }
  //  .Venn .one > span {
  //    float: left;
  //    width: 32%;
  //    shape-margin: 0;
  //    shape-outside: polygon(
  //                    100% 0%,
  //                    0% 0%,
  //                    0% 100%,
  //                    100% 100%,
  //                    100% 92%,
  //                    76% 88%,
  //                    44% 80%,
  //                    20% 70%,
  //                    10% 60%,
  //                    5% 50%,
  //                    10% 40%,
  //                    20% 30%,
  //                    41% 20%,
  //                    70% 10%,
  //                    100% 5%
  //    );
  //  }
  //  .Venn .one > span + span {
  //    float: right;
  //    width: 66%;
  //    shape-outside: polygon(
  //                    100% 0%,
  //                    40% 0%,
  //                    65% 15%,
  //                    53% 25%,
  //                    47% 35%,
  //                    44% 45%,
  //                    43% 50%,
  //                    31% 55%,
  //                    12% 65%,
  //                    5% 75%,
  //                    0% 85%,
  //                    0% 100%,
  //                    100% 100%
  //    );
  //  }
  //  .Venn .two > span {
  //    float: left;
  //    width: 66%;
  //    shape-margin: 0;
  //    shape-outside: polygon(
  //                    0% 0%,
  //                    60% 0%,
  //                    35% 15%,
  //                    47% 25%,
  //                    53% 35%,
  //                    56% 45%,
  //                    57% 50%,
  //                    69% 55%,
  //                    88% 65%,
  //                    95% 75%,
  //                    100% 85%,
  //                    100% 100%,
  //                    0% 100%
  //    );
  //  }
  //  .Venn .two > span + span {
  //    float: right;
  //    width: 32%;
  //    shape-outside: polygon(
  //                    0% 0%,
  //                    100% 0%,
  //                    100% 100%,
  //                    0% 100%,
  //                    0% 92%,
  //                    24% 88%,
  //                    56% 80%,
  //                    80% 70%,
  //                    90% 60%,
  //                    95% 50%,
  //                    90% 40%,
  //                    80% 30%,
  //                    59% 20%,
  //                    30% 10%,
  //                    0% 5%
  //    );
  //  }
  //  .Venn .three > span {
  //    float: left;
  //    width: 49%;
  //    shape-margin: 0;
  //    shape-outside: polygon(
  //                    0% 0%,
  //                    100% 0%,
  //                    100% 40%,
  //                    75% 47%,
  //                    50% 50%,
  //                    2% 50%,
  //                    5% 60%,
  //                    13% 70%,
  //                    27% 80%,
  //                    52% 90%,
  //                    78% 95%,
  //                    100% 97%,
  //                    100% 100%,
  //                    0% 100%
  //    );
  //  }
  //  .Venn .three > span + span {
  //    float: right;
  //    shape-outside: polygon(
  //                    100% 0%,
  //                    0% 0%,
  //                    0% 40%,
  //                    25% 47%,
  //                    50% 50%,
  //                    98% 50%,
  //                    95% 60%,
  //                    87% 70%,
  //                    73% 80%,
  //                    48% 90%,
  //                    22% 95%,
  //                    0% 97%,
  //                    0% 100%,
  //                    100% 100%
  //    );
  //  }
  //  .Venn .onetwo > span {
  //    float: left;
  //    width: 49%;
  //    shape-margin: 0;
  //    shape-outside: polygon(
  //                    0% 0%,
  //                    100% 0%,
  //                    100% 30%,
  //                    72% 40%,
  //                    48% 50%,
  //                    20% 70%,
  //                    10% 85%,
  //                    0% 98%,
  //                    100% 98%,
  //                    100% 100%,
  //                    0% 100%
  //    );
  //  }
  //  .Venn .onetwo > span + span {
  //    float: right;
  //    shape-outside: polygon(
  //                    100% 0%,
  //                    0% 0%,
  //                    0% 30%,
  //                    28% 40%,
  //                    52% 50%,
  //                    80% 70%,
  //                    90% 85%,
  //                    100% 98%,
  //                    0% 98%,
  //                    0% 100%,
  //                    100% 100%
  //    );
  //  }
  //  .Venn .onethree > span {
  //    float: left;
  //    width: 48%;
  //    shape-margin: 0;
  //    shape-outside: polygon(
  //                    0% 0%,
  //                    100% 0%,
  //                    100% 5%,
  //                    70% 20%,
  //                    45% 35%,
  //                    26% 50%,
  //                    10% 75%,
  //                    5% 90%,
  //                    50% 98%,
  //                    100% 95%,
  //                    100% 100%,
  //                    0% 100%
  //    );
  //  }
  //  .Venn .onethree > span + span {
  //    float: right;
  //    width: 51%;
  //    shape-outside: polygon(
  //                    100% 0%,
  //                    0% 0%,
  //                    0% 25%,
  //                    9% 40%,
  //                    20% 55%,
  //                    40% 70%,
  //                    30% 80%,
  //                    0% 90%,
  //                    0% 100%,
  //                    100% 100%
  //    );
  //  }
  //  .Venn .twothree > span {
  //    float: left;
  //    width: 51%;
  //    shape-margin: 0;
  //    shape-outside: polygon(
  //                    0% 0%,
  //                    100% 0%,
  //                    100% 25%,
  //                    91% 40%,
  //                    80% 55%,
  //                    60% 70%,
  //                    70% 80%,
  //                    100% 90%,
  //                    100% 100%,
  //                    0% 100%
  //    );
  //  }
  //  .Venn .twothree > span + span {
  //    float: right;
  //    width: 48%;
  //    shape-outside: polygon(
  //                    100% 0%,
  //                    0% 0%,
  //                    0% 5%,
  //                    30% 20%,
  //                    55% 35%,
  //                    74% 50%,
  //                    90% 75%,
  //                    95% 90%,
  //                    50% 98%,
  //                    0% 95%,
  //                    0% 100%,
  //                    100% 100%
  //    );
  //  }
  //  .Venn .onetwothree > span {
  //    float: left;
  //    width: 49%;
  //    shape-margin: 0;
  //    shape-outside: polygon(
  //                    0% 0%,
  //                    10% 15%,
  //                    30% 35%,
  //                    50% 50%,
  //                    95% 70%,
  //                    100% 100%,
  //                    0% 100%
  //    );
  //  }
  //  .Venn .onetwothree > span + span {
  //    float: right;
  //    shape-outside: polygon(
  //                    100% 0%,
  //                    90% 15%,
  //                    70% 35%,
  //                    50% 50%,
  //                    5% 70%,
  //                    0% 100%,
  //                    100% 100%
  //    );
  //  }
  //  .Venn .circle h3 {
  //    text-align: center;
  //    max-width: 40%;
  //    position: absolute;
  //
  //    &#C1 {
  //      left: 20%;
  //      top: 10%;
  //    }
  //
  //    &#C2 {
  //      left: 35%;
  //      top: 10%;
  //    }
  //
  //    &#C3 {
  //
  //      left: 30%;
  //      bottom: 10%;
  //    }
  //  }
  //  .Venn .circle h3 + * {
  //    margin-top: 0.2em;
  //  }
  //  .Venn .shape h3 {
  //    clip-path: inset(100%);
  //    clip: rect(1px, 1px, 1px, 1px);
  //    height: 1px;
  //    width: 1px;
  //    overflow: hidden;
  //    position: absolute;
  //    white-space: nowrap;
  //  }
  //}
  //
  ///* Show the boxes */
  //.Venn.guides > .circle.one {
  //  outline: 0.2em solid #f00;
  //}
  //
  //.Venn.guides > .circle.two {
  //  outline: 0.2em solid #0f0;
  //}
  //
  //.Venn.guides > .circle.three {
  //  outline: 0.2em solid #00f;
  //}
  //
  //.Venn.guides > .shape.onetwo {
  //  outline: 0.2em solid #ff0;
  //}
  //
  //.Venn.guides > .shape.onethree {
  //  outline: 0.2em solid #f0f;
  //}
  //
  //.Venn.guides > .shape.twothree {
  //  outline: 0.2em solid #0ff;
  //}
  //
  //.Venn.guides > .shape.onetwothree {
  //  outline: 0.2em solid #fff;
  //}
  //
  //.Venn.guides .circle span,
  //.Venn.guides .shape span {
  //  border: 1px dotted #000;
  //  background-color: rgba(0, 0, 0, 0.1);
  //}
  //
  //.Venn.guides > div {
  //  border: 0.1em solid rgba(0, 0, 0, 0.5);
  //}


  /*
    Adapted from
    http://brm.io/dat-gui-light-theme/
  */

  .dg.main.taller-than-window .close-button {
    border-top: 1px solid #ddd;
  }

  .dg.main .close-button {
    background-color: #e8e8e8;
  }

  .dg.main .close-button:hover {
    background-color: #ddd;
  }

  .dg {
    color: #555;
    text-shadow: none !important;
  }

  .dg.main::-webkit-scrollbar {
    background: #fafafa;
  }

  .dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
  }

  .dg li:not(.folder) {
    background: #fafafa;
    border-bottom: 1px solid #ddd;
  }

  .dg li.save-row .button {
    text-shadow: none !important;
  }

  .dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
  }

  .dg .cr.function:hover, .dg .cr.boolean:hover {
    background: #fff;
  }

  .dg .c input[type=text] {
    background: #e9e9e9;
  }

  .dg .c input[type=text]:hover {
    background: #eee;
  }

  .dg .c input[type=text]:focus {
    background: #eee;
    color: #555;
  }

  .dg .c .slider {
    background: #e9e9e9;
  }

  .dg .c .slider:hover {
    background: #eee;
  }

  .c > .selector {
    top: -1px;
    background-color: #eee !important;
  }

  .saturation-field {
    border-color: #eee !important;
  }

  .hue-field {
    border-color: #eee !important;
  }

  .dg.main {
    width: 100% !important;
    height: 100% !important;
  }

  .close-bottom {
    display: none !important;
    width: 100% !important;
    position: static !important;
    background: #e9e9e9 !important;
  }


  .dg {
    /* font-family: 'Lucida Grande', sans-serif; */
    /* font-size: 12px;
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif; */
  }

  .dg input {
    font-family: 'Andale Mono', 'Courier New', monospace;
  }

  .dg .property-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dg .cr.function .property-name {
    width: 100%;
    overflow-x: visible;
  }

  /*
    Additional properties
  */

  .artworks-container canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .artworks--canvas-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-grow: 2;
    flex-shrink: 1;
    background: #fff;
  }

  .artworks--canvas {
    margin: auto;
    cursor: pointer;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .artworks--mobile-tap-overlay {
    pointer-events: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.2);
  }

  .artworks--audio-wrapper {
    pointer-events: none;
    color: white;
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
    padding: 10px;
  }

  .artworks--audio-tap-to-start {
    text-transform: uppercase;
  }

  .artworks--audio-mute,
  .artworks--audio-tap-to-start,
  .artworks--mobile-tap-overlay-caption {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    font-size: 12px;
    line-height: 8px;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: $font-1451-bold;
    font-weight: 300;
    margin-top:2rem;
  }

  .artworks--mobile-tap-overlay-caption {
    transform-origin: 50% 50%;
    transform: scale(1.0, 1.0);
    opacity: 1.0;
  }

  .no-touch .artworks--audio-mute, .artworks--audio-tap-to-start {
    padding: 5px 5px;

  }

  .no-touch .artworks--audio-mute {
    transition: background 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    background: rgba(0, 0, 0, 0.5);
  }

  .no-touch .artworks--audio-mute:hover {
    opacity: 1;
    background: rgba(0, 0, 0, 1.0);
    transition: background 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }

  .artworks--audio-mute {
    pointer-events: initial;
    cursor: pointer;
    outline: 0;
  }

  .artworks--gui-container {
    background: #fafafa;
    flex-basis: 275px;
    min-width: 250px;
    overflow-y: scroll;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
  }

  .artworks--gui-container .dg.main {
    overflow-y: scroll;
  }

  /*
    Toast for file saving.
  */

  .artworks--toast {
    position: absolute;
    bottom: 0;
    left: 0;
    background: white;
    color: black;
    display: flex;
    padding: 5px 5px;
    /* font-family: "Andale Mono", "Courier New", monospace; */
    font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
    font-family: $font-1451-bold;
    font-weight: 300;
    font-size: 12px;
    border-radius: 0 5px 0 0;
    justify-content: flex-start;
    align-items: center;
    transform-origin: 0% 0%;
    transform: translateY(0px);
    transition: transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }

  .artworks--toast.error {
    mix-blend-mode: initial;
    background: #e67763;
    color: black;
  }

  .artworks--toast.success {
    mix-blend-mode: initial;
    background: #61bd3c;
    color: white;
  }

  /* .artworks--toast.plain {
    mix-blend-mode: initial;
    background: white;
    color: black;
  } */
  .artworks--toast.hidden {
    transform-origin: 0% 0%;
    transform: translateY(100%);
    transition: transform 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  }

  .artworks--toast p {
    margin: 0;
    padding: 0;
  }

  /* .artworks--toast strong {
    font-weight: 700;
  } */


  &.navbar-administration .global-message--active .uw-site--colors{
    @include media($medium-screen) {
      position:relative;
      top:inherit;
      z-index: map-get($zindex, header);
    }
  }
}

#popup-text h2{
  font-family: "BureauGrotCond Book",impact,"avenir next condensed heavy","Droid Sans",sans-serif !important;
  font-weight: 400;
  line-height: 1.25;
  margin: .5rem 0 .5rem 0;
  padding: 0;
  clear: both;
  letter-spacing: .045rem;
  text-transform:inherit;
}
#global-message {
  //display:none;
  p {
    font-size: 1rem;
  }

}
